
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using TenderApp.Models.BusinessModels;
@model Sub

    @using (Html.BeginForm("CreateSub", "Admin"))
    {
        @Html.Hidden("Parent", -1,new { id="SubParentId" })
        @Html.HiddenFor(m => m.SubId,new { id="SubId" });
        @Html.TextBoxFor(m => m.Name, new { id = "SubName" });
        @*@Html.GetEnumSelectList(Model.Type.GetType());*@
        <select name="Type" id="SubType">
            <option value="0">TextBox</option>
            <option value="1">TextArea</option>
            <option value="2">Image</option>
        </select>
        @Html.TextBoxFor(m => m.Priority, new { id = "SubPriority" });
        <input type="submit" value="Сохранить" />
    }
