@{ 
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h2>Админ панель</h2>

<div>
    <div class="row">
        <div class="col-md-2">
            @await Html.PartialAsync("AdminPartials/_ManageNav", new Dictionary<string, string>() {
           { "Пользователи", "Admin" } ,
            { "Категории","CategoryManage" },
           { "Роли","RoleAdmin" },
           { "Группы мета", "Sub" } })
        </div>
        <div class="col-md-10">
            @RenderBody()
        </div>
    </div>
</div>
@Html.Partial("AdminPartials/_AdminModalPartial")

@section Scripts {
    @RenderSection("Scripts", required: false)
}
        
