@using TenderApp.Models.AdminViewModels
@using TenderApp.Models.BusinessModels

@{
    ViewData["Title"] = "Создать категорию";
    Layout = "~/Views/Shared/Layouts/_AdminLayout.cshtml";
    IEnumerable<Category> categories = ViewBag.Categories as IEnumerable<Category>;
}
@model CategoryViewModel
<h2>Создать категорию</h2>
<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">

        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div>
        <select asp-for="ParentId" class="custom-select">
            <option value="0">Нет</option>
            @foreach (var cat in categories)
            {
                <option value="@cat.CategoryId">@cat.Name</option>
            }
        </select>
        <span asp-validation-for="ParentId" class="text-danger"></span>
    </div>
    <button class="btn btn-primary" type="submit">Добавить</button>
</form>
