@using TenderApp.Models.BusinessModels;
@using TenderApp.App_Code;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layouts/_AdminLayout.cshtml";
    TempData["CatTab"] = "";
    ViewBag.RenderedCats = new List<Category>();
}
@model IEnumerable<Category>
<h2>Управление категориями @Html.ActionLink("Добавить", "Create", "CategoryManage", null, null, null, null, new { @class = "btn btn-primary" })</h2>

@*@Html.Cat(Model)*@
<table class="table table-striped table-sm table-bordered text-center ">
    <thead>
        <tr class="text-center">
            <th>Название</th>
            <th colspan="2">Описание</th>
        </tr>
    </thead>
    <tbody>
        @Html.Partial("_CategoriesList", Model)
    </tbody>
</table>


@Html.Partial("_ConfrirmationMessagePartial", new Dictionary<string, string>() { { "Message", "Вы действительно хотите удалить категорию? Действие необратимо." }, { "ButtonText", "Удалить" } })
