@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    string curcontroller = ViewContext.RouteData.Values["Controller"].ToString();
}
@model Dictionary<string,string>
<ul class="nav flex-column nav-pills">
    @foreach (string key in Model.Keys)
    {
        string controller = Model[key];
        var cl = (curcontroller==controller) ? "nav-link active" : "nav-link";
        <li class="nav-item">
            @Html.ActionLink(key, "Index", controller, null, null, null, null, new { @class = cl })
        </li>
    }
</ul>